.junior .CodeMirror {
    /* Set height, width, borders, and global font properties here */
    font-family: monospace;
    height: auto;
    padding: 10rem 0;
    font-size: 2rem;
    font-weight: bold;
    color: red;
    direction: ltr;
  }